<!DOCTYPE HTML>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6, user-scalable=no">
    <title>
        {{#if title }} {{ title }} {{else}} Terrana {{/if}}
    </title>

    {{ meta }}

    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/messenger.css"> {{#each link}}
    <link rel="{{this.rel}}" href="{{this.href}}"> {{/each}}
</head>

<body>
    <div class="wrapper">
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a href="/" class="navbar-brand h1 mb-0"> Terrana </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSite">
                        <ul class="navbar-nav mr-auto">
                            <li class="navbar-item">
                                <a href="/system" class="nav-link"> Sistema </a>
                            </li>
                            <li class="navbar-item">
                                <a href="/documentation" class="nav-link"> Documentação </a>
                            </li>
                            <li class="navbar-item">
                                <a href="/api" class="nav-link"> API </a>
                            </li>
                            <li class="navbar-item">
                                <a href="/contact" class="nav-link"> Contatos </a>
                            </li>
                        </ul>

                        <ul class="navbar-nav ml-auto">
                            {{#if logged }}
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"> Jogar </a>
                                <div class="dropdown-menu bg-dark">
                                    <div class="container">
                                        <a href="javascript:void(0)" class="dropdown-item text-secondary"> Jogar </a>
                                        <a href="javascript:void(0)" class="dropdown-item text-secondary"> Mestrar </a>
                                        <a href="javascript:void(0)" class="dropdown-item text-secondary"> Espectar </a>
                                    </div>
                                </div>
                            </li>
                            {{else}}
                            <li class="dropdown" id="register-dd">
                                <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown">Registrar</a>
                                <div class="dropdown-menu bg-dark">
                                    <div class="container">

                                        <div class="text-center text-muted h4">
                                            <b>Registrar</b>
                                        </div>

                                        <form id="register" action="/login" method="POST">
                                            <div id="msg"></div>
                                            <input type="text" name="name" id="name" tabindex="1" class="form-control login my-3" placeholder="Nome">
                                            <input type="text" name="username" id="username" tabindex="2" class="form-control login my-3" placeholder="Usuario">
                                            <input type="password" name="password" id="password" tabindex="3" class="form-control login my-3" placeholder="Senha">
                                            <input type="password" name="repeat" id="repeat" tabindex="4" class="form-control login my-3" placeholder="Repetir Senha">

                                            <div class="text-center">
                                                <input type="submit" tabindex="4" class="btn btn-danger" value="Registrar">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown" id="login-dd">
                                <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown">Login</a>
                                <div class="dropdown-menu bg-dark">
                                    <div class="container">

                                        <div class="text-center text-muted h4">
                                            <b>Login</b>
                                        </div>

                                        <form id="login">

                                            <input type="text" name="username" id="luser" tabindex="1" class="form-control login my-3" placeholder="Usuario">
                                            <input type="password" name="password" id="lpass" tabindex="2" class="form-control login my-3" placeholder="Senha">

                                            <div class="form-row">
                                                <div class="ml-auto">
                                                    <input type="submit" tabindex="4" class="btn btn-danger" value="Login">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            {{/if}}
                        </ul>
                        {{!-- --}}
                        <form action="/search" class="form-inline mx-3" id="search" method="POST">
                            <div class="input-group">
                                <input name="search" class="form-control " type="search" placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
                                <div class="input-group-prepend">
                                    <button class="btn btn-sm btn-danger" type="submit">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>


                    {{#if logged}}

                    <span class="btn btn-dark mx-3" id="sidebar-toggle-a" type="button">
                        <i class="fa fa-comment text-info" aria-hidden="true"></i>
                    </span>
                    {{/if}}
                </div>
            </nav>

            {{{body}}}

        </div>

        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <h4>
                    <span id="sidebar-toggle-b">
                        Messenger
                        <i class="fa fa-comment" aria-hidden="true"></i>
                    </span>
                </h4>
            </div>

            <ul class="messenger-rooms">
                <li>
                    <a href="javascript:void(0)">
                        <i class="fas fa-globe"></i>
                        Global
                    </a>
                </li>
                <li>
                    <a href="#friendsub" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Amigos</a>
                    <ul class="collapse list-unstyled" id="friendsub">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fas fa-user-check"></i>
                                Azcrew
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="disable">
                                <i class="fas fa-user-minus"></i>
                                Zarkabel
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#gamesub" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="gamesub">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fas fa-dice-one"></i>
                                Assenção do Khala
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fas fa-dice-two"></i>
                                A Torre dos Golens
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fas fa-dice-three"></i>
                                A Queda
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fas fa-dice-four"></i>
                                Academia Arcana
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fas fa-dice-five"></i>
                                Arion
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fas fa-dice-six"></i>
                                Arton
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">Portfolio</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Contact</a>
                </li>
            </ul>
        </nav>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"        crossorigin="anonymous"></script>
    <script src="js/navbar.js"></script>
    <script src="js/messenger.js"></script> {{#each script}}
    <script src="{{src}}"></script>{{/each}}
</body>

</html>